.HomeIcon {
  width: 30px;
  height: 49px;
  top: 49px;
  left: 1133px;
  border-radius: 0px;
}
.logo {
  width: 311px;
  height: 49px;
  top: 20px;
  left: 80px;
}
.ConstructionIcon {
  height: 49.77404022216797px;
  width: 30px;
  left: 1186px;
  top: 49.7740478515625px;
  border-radius: 0px;
}
.Vector {
  height: 49.77404022216797px;
  width: 30px;
  left: 1186px;
  top: 49.7740478515625px;
  border-radius: 0px;
}
.photo {
  height: 49.77404022216797px;
  width: 31.152099609375px;
  left: 1239px;
  top: 50.67974853515625px;
  border-radius: 0px;
}
.rectangle {
  height: 90px;
  width: 1440px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}
.text {
  position: absolute;
  width: 445px;
  height: 28px;
  left: 196px;
  top: 233px;
}
.rect {
  position: absolute;
  width: 1136px;
  height: 51px;
  left: 177px;
  top: 222px;
  background: #0029ff;
  border-radius: 10px 10px 0px 0px;
}
.side {
  height: 827px;
  width: 96px;
  left: 0px;
  top: 150px;
  border-radius: 0px;

  background: url(image.png);
}
.blank {
  height: 2849px;
  width: 1136px;
  left: 177px;
  top: 273px;
  border-radius: 0px;
}
.task{
  height: 42px;
width: 165px;
left: 662px;
top: 317px;
border-radius: 0px;

}